extends layout

block append javascripts
	script(src="/javascripts/accounting.min.js", type="text/javascript")
	script(src="/javascripts/configurator.js" type="text/javascript")
	
	script(type="text/javascript")
		// TODO: Create configurator thing.

block content
	form(method="post", action="/quote/new", role="form")
		h3= laptop.name
		
		.row
			.col-md-9.configurator
				for group in laptop.componentOptionGroups
					fieldset
						legend= group.title
							
						for option, index in group.componentOptions
							.radio
								label
									input(type="radio", name=group._id, value=option._id, checked=(index == 0))
									
									= option.name
							
				input(type="submit", value="Save", class="btn btn-primary")
			.col-md-3.bg-info
				h4 Laptop Configuration
				
				h4#price 0.00
				
				p= laptop.name
				
				ul#specs